@model Catalog_films_test.ViewModels.IndexHomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<p class="h1">Добрый день @Model.NameUser</p><br>
<p class="h3">Вы добавили @Model.CountUserFilms фильмов</p>
<p class="h3">Всего в базе @Model.CountAllFilms фильмов</p>


<a class="btn btn-primary btn-lg active" asp-controller="Film" asp-action="Add" role="button">Добавить фильм.</a>
<a class="btn btn-primary btn-lg active" asp-controller="Film" asp-action="Index" role="button">Каталог фильмов</a>